name: comfortremote
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.0 <4.0.0'


dependencies:
  flutter:
    sdk: flutter

  camera: ^0.11.2+1
  permission_handler: ^12.0.1

  flutter_dotenv: ^6.0.0

  http: ^1.2.2
  provider: ^6.1.1

  shared_preferences: ^2.1.1
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env